html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #63008c;
}

.container {
  text-align: center;
  padding-top: 10%;
}

.title {
  color: #e2e2e2;
  font-size: 32px;
  margin-bottom: 32px;
  font-family: monospace;
}

.button {
  border: 0;
  background: #80cbc4;
  width: 180px;
  height: 40px;
  margin: 5px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.rollerTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #a700da;
  height: 20px;
  width: 200px;
  border-radius: 16px 16px 0 0;
}

.rollerContainer {
  transition: height 0.15s ease-out;
}

.rollerEnd {
  display: flex;
  justify-content: center;
}

.dragButton {
  background-color: #e2e2e2;
  width: 25px;
  border-radius: 1px 1px 22px 22px;
  color: #e2e2e2;
}

.internalDrag {
}

.internalRoller {
  background-color: #e2e2e2;
  transition: height 0.15s ease-out;
  height: calc(100% - 25px);
  border-radius: 0 0 16px 16px;
}
